#fundo{
    font-family: Comic Sans MS;
    background-color: darkslateblue;
    color: rgb(0, 0, 0);
}
button{
    border-radius: 10px;
    border-color: darkblue;
    color: darkslateblue;
}
#camera {
    width: 500px;
    height: 400px;
    border: 1px solid red;
}
img{
    width: 37%;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 6px 8px 0 black;
}
.column             {
    display: inline;
    padding: 10px;
}
img:hover {
    border-radius: 140px;
}
.copy_right_footer {
    position: fixed;
    color: cadetblue;
    bottom: 0;
    width: 100%;
    background-color: white;
    line-height: 3;
    text-align: center;
}